html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, Helvetica, sans-serif;
  font-weight: 400;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.user {
  width: 100%;
  max-width: 258px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user li {
  border: 1px solid red;
  padding: 0rem 2rem;
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

/* Navbar container */
.navbar {
  background-color: #020203;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Logo styles */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  border-radius: 50%;
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.logo img {
  margin-top: 5px;
  object-fit: cover;
}

.logo-title {
  margin-left: 10px;
  margin-right: 50px;
  font-weight: 500;
}

/* Menu styles */
.navbar-menu {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

.navbar-menu li {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 70px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

/* Page Of Login */

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginPage h1 {
  text-align: -webkit-center;
  padding: 0 5%;
}

.userButton {
  border: 1px solid #020203;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.1s ease-in 0.1s;
  cursor: pointer;
}

.userButton:hover {
  background-color: red;
}

.userButton a {
  text-decoration: none;
  color: #020203;
}
/* Active menu item */

.DashBoard {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 5%;
}

.DashBoard h1 {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: start;
}

.DashBoardBodyAndGraph {
  border: 1px solid red;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.DashBoardGraph {
  display: flex;
  flex-direction: column;
}

/* Activity */
.DailyActivityContainer {
  position: relative;
  height: 100%;
  background: #fbfbfb;
}

.DailyActivityLegend {
  display: flex;
}

.Graph {
  display: flex;
}

.TitleAndLegend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.ColorLegend {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
}

.LegendDetail {
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  color: #706e6e;
}
