html {
  box-sizing: border-box;
  font-family: Roboto, system-ui, Helvetica, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.navbar-menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.SideBarAndDashBoard {
  display: flex;
  justify-content: space-between;
}

/* sideBar  */

.sideBar {
  display: flex;
  background-color: #020203;
  flex-direction: column;
}

.sideBar ul {
  padding: 0;
  margin-top: 200px;
}

.sideBar li {
  list-style: none;
  margin: 1rem;
}

.copyright {
  color: white;
  transform: rotate(270deg);
  height: 5rem;
  margin: 8rem -35px;
  font-size: small;
  width: 200%;
}

.user {
  margin: 0;
  width: 100%;
  max-width: 258px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  list-style-type: none;
}

.user li {
  border-radius: 10px;
  background-color: #00000005;
  padding: 0rem 2rem;
  text-align: -webkit-center;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.user img {
  padding: 1rem;
  border-radius: 10px;
}

/* Navbar container */
.navbar {
  background-color: #020203;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

/* Logo styles */
.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
  border-radius: 50%;
  margin-left: 30px;
  width: 50px;
  height: 50px;
}

.logo img {
  margin-top: 5px;
  object-fit: cover;
}

.logo-title {
  margin-left: 10px;
  margin-right: 50px;
  font-weight: 500;
}

/* Menu styles */
.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

.navbar-menu li {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-right: 70px;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

/* Page Of Login */

.LoginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.LoginPage h1 {
  text-align: -webkit-center;
  padding: 0 5%;
}

.userButton {
  border: 1px solid #020203;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.1s ease-in 0.1s;
  cursor: pointer;
}

.userButton:hover {
  background-color: red;
}

.userButton a {
  text-decoration: none;
  color: #020203;
}
/* Active menu item */

.DashBoard {
  display: flex;
  flex-direction: column;
  margin: 2%;
  width: 100%;
}

.DashBoard h1 {
  font-size: 3rem;
  font-weight: 500;
  text-align: start;
}

.DashBoardBodyAndGraph {
  display: flex;
  justify-content: space-between;
}

.DashBoardGraph {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
}

.DashBoardBody {
  width: 25%;
}

/* Activity */
.DailyActivityContainer {
  background: #fbfbfb;
}

.test {
  background-color: #706e6e;
}

.DailyActivityLegend {
  display: flex;
}

.Graph {
  display: flex;
  justify-content: space-between;
}

.TitleAndLegend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.ColorLegend {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  margin: 0 0.5rem 0 0;
  border-radius: 50%;
}

.LegendDetail {
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  color: #706e6e;
}

.custom-tooltip {
  display: flex;
  flex-direction: column;
  background-color: #ff0000;
  color: #fbfbfb;
  padding: 10px;
  gap: 10px;
}

/* Performance */

.performance {
  background-color: #020203;
  border-radius: 10px;
  width: 30%;
}

/* AverageSession */

.averageSession {
  background-color: #ff0000;
  border-radius: 10px;
  width: 30%;
}

.DailyAvgValue {
  background-color: #fbfbfb;
  padding: 1px 3px;
}

.Score {
  background-color: #fbfbfb;
  width: 30%;
  display: flex;
}

.scoreTitle {
  position: absolute;
  font-size: 1rem;
  font-weight: 500;
}

/* Error */

.errorTitle {
  text-align: center;
  padding: 20rem;
  font-size: 70px;
}
